'{{# partial "titulo" }}	
	<title>POIs - Busqueda Poi</title>
{{/partial}}
		
{{# partial "contenido" }}	
<script>
function genera_tabla() {
  var parameters = location.search.substring(1).split("&");
  var temp = parameters[0].split("=");
  var cantidadFilas = unescape(temp[1]);
    
  var body = document.getElementsByTagName("body")[0];
  var tabla   = document.createElement("table");
  var tblHead = document.createElement("thead");
  var tblBody = document.createElement("tbody");
  
  var numeroParametro = 1;
 
  for (var i = 0; i <= cantidadFilas; i++) {
    var hilera = document.createElement("tr");
    
    for (var j = 0; j < 2; j++) {
	
		if(i==0){
			if(j==0) var parametro = "Nombre";			//Setteo titulos columnas
			if(j==1) var parametro = "Direccion";
			var celda = document.createElement("th");
		}else{
			var temp = parameters[numeroParametro].split("=");
			var parametro = unescape(temp[1]);
			var celda = document.createElement("td");
			numeroParametro++;
		}

		var textoCelda = document.createTextNode(parametro);
		celda.appendChild(textoCelda);
		hilera.appendChild(celda);
	}
	if(i==0){
		detalle= document.createElement("th");
		texto= document.createTextNode("");
		detalle.appendChild(texto);
	}
	else{
		detalle=crear_boton_detalles();
	}
	hilera.appendChild(detalle);
	if(i==0){  tblHead.appendChild(hilera) }
    else{ tblBody.appendChild(hilera); }
  }
  tabla.appendChild(tblHead);
  tabla.appendChild(tblBody);
  body.appendChild(tabla);
  tabla.setAttribute("class", "table");
}

function crear_boton_detalles(){
	var form= document.createElement('form');
	form.setAttribute('action',"/getDetalles");
	
	boton_detalle= document.createElement('input');
	boton_detalle.setAttribute('class',"btn btn-primary");
	boton_detalle.setAttribute('type',"submit");
	boton_detalle.setAttribute('method',"post");
	boton_detalle.setAttribute('value',"Ver Detalles");
	
	form.appendChild(boton_detalle);
	return form;
	
}
function generar_detalles(){
 	var parameters = location.search.substring(1).split("&");
	$("#detalle_resultado_busqueda").modal("show");
}
</script>

<form action="/busquedaPOI" method="post">
  <div class="row">
	<h1>Busqueda POI</h1>

	<h3>Criterio de búsqueda</h3>

	<div class="col-xs-3" width=900px>
		<Strong> Nombre:  </Strong>
		<input type="text"  class="form-control" name="nombre">
		<input type="submit" class="btn btn-primary" value="agregar">
		<input type="submit" class="btn btn-primary" value="buscar">
	</div>

<br/><br/><br/><br/><br/>
	<h3>Resultado</h3>

	<div class="m-x-auto" style: "width: 200px;">
		<script> genera_tabla(); </script>
	</div>
  </div>
</form>

<div class="modal fade" id="detalle_resultado_busqueda">
<div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 class="modal-title">Detalles</h3>
        </div>
        <div class="modal-body">
          
          <table class="table table-striped" id="tabla_detalles">            
            <thead id="detalles_head">
              <tr>
                <th>Location</th>
                <th>Points</th>
                <th class="text-right">Mean</th>
              </tr>
            </thead>
            <tbody>
              <tr><td>Long Island, NY, USA</td>
                <td>3</td>
                <td class="text-right">45001</td>
              </tr>
              <tr><td>Chicago, Illinois, USA</td>
                <td>5</td>
                <td class="text-right">76455</td>
              </tr>
              <tr><td>New York, New York, USA</td>
                <td>10</td>
                <td class="text-right">39097</td>
              </tr>
            </tbody>
          </table>
          <div class="form-group">
            <input type="button" class="btn btn-warning btn-sm pull-right" value="Reset">
            <div class="clearfix"></div>
          </div>
		</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default " data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save Changes</button>
        </div>
				
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

{{/partial}}
				
{{> layoutSesion.hbs }}