'{{# partial "titulo" }}	
	<title>POIs - Busqueda Poi</title>
{{/partial}}
		
{{# partial "contenido" }}	
<script>
function genera_tabla() {
  var parameters = location.search.substring(1).split("&");
  var temp = parameters[0].split("=");
  var cantidadFilas = unescape(temp[1]);
    
  var body = document.getElementsByTagName("body")[0];
  var tabla   = document.createElement("table");
  var tblHead = document.createElement("thead");
  var tblBody = document.createElement("tbody");
  
  var numeroParametro = 1;
 
  for (var i = 0; i <= cantidadFilas; i++) {
    var hilera = document.createElement("tr");
    
    for (var j = 0; j < 2; j++) {
	
		if(i==0){
			if(j==0) var parametro = "Nombre";			//Setteo titulos columnas
			if(j==1) var parametro = "Direccion";
			var celda = document.createElement("th");
		}else{
			var temp = parameters[numeroParametro].split("=");
			var parametro = unescape(temp[1]);
			var celda = document.createElement("td");
			numeroParametro++;
		}

		var textoCelda = document.createTextNode(parametro);
		celda.appendChild(textoCelda);
		hilera.appendChild(celda);
	}
	if(i==0){
		detalle= document.createElement("th");
		texto= document.createTextNode("");
		detalle.appendChild(texto);
	}
	else{
		detalle=crear_boton_detalles();
	}
	hilera.appendChild(detalle);
	if(i==0){  tblHead.appendChild(hilera) }
    else{ tblBody.appendChild(hilera); }
  }
  tabla.appendChild(tblHead);
  tabla.appendChild(tblBody);
  body.appendChild(tabla);
  tabla.setAttribute("class", "table");
}

function crear_boton_detalles(){
	var form= document.createElement('form');
	form.setAttribute('action',"/generarDetalles");
	form.setAttribute('method',"post");
	
	boton_detalle= document.createElement('input');
	boton_detalle.setAttribute('class',"btn btn-primary");
	boton_detalle.setAttribute('type',"submit");
	boton_detalle.setAttribute('value',"Ver Detalles");
	
	form.appendChild(boton_detalle);
	return form;
	
}
function generar_detalles(){
 	var parameters = location.search.substring(1).split("&");
	$("#detalle_resultado_busqueda").modal("show");
}
</script>

<form action="/busquedaPOI" class="form-inline" method="post">

<input type="hidden" id="cantidad" name="cantidad" value="1">

  <div class="row">
<h1>Busqueda POI</h1>
	
<br/>

	<h3>Criterio de búsqueda</h3>

<br/>

<div id="conenedorlineas">
<div class="col-md-12" style="margin-bottom:20px;">
	<b> Nombre:  </b>
	<br/>
	<br/>
  	<div class="input_fields_wrap">
  	<input class="form-control" name="nombre1" placeholder="Texto 1">	&nbsp;
  	<button type="submit" class="btn btn-primary">	<span class="glyphicon glyphicon-search" aria-hidden="true"></span> Buscar</button>
  	<a id="agregarCampo" class="btn btn-info" href="#"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Agregar Campo</a>
	<br/>
	</div>


</div>
</div>

<script>
$(document).ready(function() {
    var max_fields      = 10; //maximum input boxes allowed
    var wrapper         = $("#conenedorlineas"); //Fields wrapper
    var add_button      = $("#agregarCampo"); //Add button ID
    
    var x = 1; //initlal text box count
    $(add_button).click(function(e){ //on add input button click
        e.preventDefault();
        if(x < max_fields){ //max input box allowed
            x++; //text box increment
            $("#cantidad").val(x);
            $(wrapper).append('<div class="col-md-12" style="margin-bottom:20px;" id="columna'+x+'"><div class="form-group"><input class="form-control" id="inputPassword2" name="nombre'+x+'" placeholder="Texto '+ x +'">	&nbsp;</div><a class="eliminar btn btn-danger" aria-label="Left Align"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Eliminar</a></div>'); //add input box
        }
    });

    $(wrapper).on("click",".eliminar", function(e){ //user click on remove text
    console.log("juli");
        e.preventDefault(); $(this).parent('div').remove(); //x--;
    })
    
});
</script>


	<div class="m-x-auto" style: "width: 200px;">
		<script> genera_tabla(); </script>
	</div>
  </div>
</form>

<div class="modal fade" id="detalle_resultado_busqueda">
<div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 class="modal-title">Detalles</h3>
        </div>
        <div class="modal-body">
          
          <table class="table table-striped" id="tabla_detalles">            
            <thead id="detalles_head">
              <tr>
                <th>Location</th>
                <th>Points</th>
                <th class="text-right">Mean</th>
              </tr>
            </thead>
            <tbody>
              <tr><td>Long Island, NY, USA</td>
                <td>3</td>
                <td class="text-right">45001</td>
              </tr>
              <tr><td>Chicago, Illinois, USA</td>
                <td>5</td>
                <td class="text-right">76455</td>
              </tr>
              <tr><td>New York, New York, USA</td>
                <td>10</td>
                <td class="text-right">39097</td>
              </tr>
            </tbody>
          </table>
          <div class="form-group">
            <input type="button" class="btn btn-warning btn-sm pull-right" value="Reset">
            <div class="clearfix"></div>
          </div>
		</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default " data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save Changes</button>
        </div>
				
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

{{/partial}}
				
{{> layoutSesion.hbs }}
