{{# partial "titulo" }}	
	<title>POIs - Busqueda Poi</title>
{{/partial}}
		
{{# partial "contenido" }}	

<form action="/busquedaPOI" class="form-inline" method="get">

<input type="hidden" id="cantidad" name="cantidad" value="1">

  <div class="row">
<h1>Busqueda POI</h1>
	
<br/>

	<h3>Criterio de búsqueda</h3>

<br/>

<div id="conenedorlineas">
<div class="col-md-12" style="margin-bottom:20px;">
	<b> Nombre:  </b>
	<br/>
	<br/>
  	<div class="input_fields_wrap">
  	<input class="form-control" name="nombre1" placeholder="Texto 1">	&nbsp;
  	<button type="submit" class="btn btn-primary">	<span class="glyphicon glyphicon-search" aria-hidden="true"></span> Buscar</button>
  	<a id="agregarCampo" class="btn btn-info" href="#"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Agregar Campo</a>
	<br/>
	</div>


</div>
</div>

<script>
function hilera(coso1,coso2,coso3){
   var tr = '<tr>' ;
    tr += '<td>' + decodeURIComponent(coso1)  + '</td>';
    tr += '<td>' + decodeURIComponent(coso2) + '</td>';  
     tr += '<td>' + coso3 + '</td>';  
    tr +='</tr>';
    
return tr;
}


function crearTabla(){

var parameters = location.search.substring(1).split("&");

tabla = "<table class='table'>";

   
  for(i=0;i<=(parameters.length-1)/2;i++){
  	if(i==0){
  		tabla+=hilera("Nombre","Direccion","");
  	}else{
  			if((parameters[i+1].split("="))[0]=="Icono"){
         		generar_detalles();
       		}
       		
       		
  	formulario = '<form action="/generarDetalles" method="post"><input name="nombre" value="'+decodeURIComponent((parameters[i*2-1].split("="))[1])+'" style="display: none;"><input name="direccion" value="'+decodeURIComponent((parameters[2*i].split("="))[1])+'" style="display: none;"><input class="btn btn-primary" type="submit" value="Ver Detalles"></form>'
  		
  		tabla+=hilera((parameters[i*2-1].split("="))[1],(parameters[i*2].split("="))[1],formulario);//crear_boton_detalles(parameters).value);
  		
  		
  	}
  }


	tabla+="</table>";
	
	$("#tabla").html(tabla);
	
	
	


}



$(document).ready(function() {
	
$(".cerrar").click(function(){
 window.history.go(-1);

});
	
crearTabla();
    var max_fields      = 10; //maximum input boxes allowed
    var wrapper         = $("#conenedorlineas"); //Fields wrapper
    var add_button      = $("#agregarCampo"); //Add button ID
    
    var x = 1; //initlal text box count
    $(add_button).click(function(e){ //on add input button click
        e.preventDefault();
        if(x < max_fields){ //max input box allowed
            x++; //text box increment
            $("#cantidad").val(x);
            $(wrapper).append('<div class="col-md-12" style="margin-bottom:20px;" id="columna'+x+'"><div class="form-group"><input class="form-control" id="inputPassword2" name="nombre'+x+'" placeholder="Texto '+ x +'">	&nbsp;</div><a class="eliminar btn btn-danger" aria-label="Left Align"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Eliminar</a></div>'); //add input box
        }
    });

    $(wrapper).on("click",".eliminar", function(e){ //user click on remove text
    console.log("juli");
        e.preventDefault(); $(this).parent('div').remove(); //x--;
    })
    
});

 function generar_detalles(){
   var ths=[];
   var tds=[];
   var parameters = location.search.substring(1).split("&");
   console.log(parameters);
   parameters.shift();
   console.log(parameters);
   parameters.forEach(function(param,i){
     param=param.split("=");
     key=param[0];
     value=param[1];
     while(value.indexOf("%20")>0){
       value=value.replace("%20"," ");
     }
     ths.push(key);
     tds.push(value);
   });
   thead=document.createElement("tr");
   ths.forEach(function(nombre_th){
     th=document.createElement("th");
     texto=document.createTextNode(nombre_th);
     th.appendChild(texto);
     thead.appendChild(th);
   })
   tbody=document.createElement("tr");
   tds.forEach(function(value_td){
     td=document.createElement("td");
     texto=document.createTextNode(value_td);
     td.appendChild(texto);
     tbody.appendChild(td);
   })
   //console.log($("#detalles_head"));
   $("#detalles_head")[0].appendChild(thead);
   $("#detalles_body")[0].appendChild(tbody);
   $("#detalle_resultado_busqueda").modal();
   $("#detalle_resultado_busqueda").modal("show");
   console.log("kevergatepasa");
 }
</script>


<div class="modal fade" id="detalle_resultado_busqueda">
<div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close cerrar" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 class="modal-title">Detalles</h3>
        </div>
        <div class="modal-body">
          
          <table class="table table-striped" id="tabla_detalles">            
            <thead id="detalles_head"></thead>
            <tbody id= "detalles_body"></tbody>
          </table>
          
		</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default cerrar" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save Changes</button>
        </div>
				
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  
  <div class="m-x-auto" style: "width: 200px;">
 		<script> //genera_tabla();
 		 </script>
 	</div>
   </div>
 </form>
<div id="tabla"></div>

{{/partial}}
				
{{> layoutSesion.hbs }}
