{{# partial "titulo" }}	
	<title>POIs - Inicio</title>
{{/partial}}
		
{{# partial "contenido" }}	

<form action="/POIs/calcularDistanciaAPOI" method="post">
  <div class="row">

	<div class="panel panel-info">
	
		<div class="panel-heading">
		    <h3 class="panel-title">Origen</h3>
		 </div>
		 
		<div class="panel-body">
		    <div class="col-xs-12">
		  		<td>Nombre</td>
				<input type="text" class="form-control" name="nombre">
				<td>Direccion</td>
				<input type="text"  class="form-control" name="direccion">
			</div>
			<div class="col-xs-6">
				<td>Ubicacion X</td>
				<input type="text"  class="form-control" name="ubicacionX">
			</div>
			<div class="col-xs-6">
				<td>Ubicacion Y</td>
				<input type="text"  class="form-control" name="ubicacionY">
			</div>
		</div>
	</div>
	
  
	<div class="panel panel-info">
		<div class="panel-heading">
		    <h1 class="panel-title" >Destino </h1>
		 </div>
		 <div class="panel-body">
			<div class="form-group">
			  <label for="poi2"></label>
			  <select class="form-control" name="poi2">
			  
					<option> ubicacionCercana </option>
					<option> ubicacionLejana </option>
					<option> CGP_1 </option>
					<option> CGP_2 </option>
					<option> Parada del 47 </option>
					<option> Parada del 107</option>
					<option> Parada del 114</option>
					<option> Sucursal Banco </option>
					<option> Libreria Escolar </option>
					<option> Kiosko de Diarios </option>    
			    
			  </select>
			</div>
		</div>
	</div>	
	
	<div class="col-md-5">
		<input type="submit" class="btn btn-primary" value="Calcular Distancia">
	</div>
	
  </div>
</form>
{{/partial}}
				
{{> layoutSesion.hbs }}