{{# partial "titulo" }}	
	<title>POIs - Error</title>
{{/partial}}
		
{{# partial "contenido" }}	


	<div class="alert alert-danger">
  		<strong>NO VALIDO</strong> 
  			Los datos ingresados no son correctos o faltan ingresar datos
	</div>
	
	<div class="alert alert-warning">
  		Vuelva atras y revise los datos ingresados
	</div>



{{/partial}}
				
{{> layoutSesion.hbs }}