{{# partial "titulo" }}	
	<title>POI</title>
{{/partial}}
		
{{# partial "contenido" }}	  
<div class="jumbotron">
  <h1>POI</h1>
  <h6>Demasiado simple</h6>
</div>	
{{/partial}}
				
{{> layout.hbs }}