{{# partial "titulo" }}	
	<title>POI</title>
{{/partial}}

		
{{# partial "contenido" }}


<div class="jumbotron">
  <h1>POI</h1>
</div>	

<div class="col-xs-8"><div class="panel panel-primary">

	<div class="panel-heading">
		<h1>LOG IN</h1>
	</div>
	
	<div class="panel-body">
	
	<Strong> Usuario:  </Strong>
		<input type="text"  class="form-control" name="usuario">
	<Strong> Contraseña:  </Strong>
		<input type="text"  class="form-control" name="contrasenia">
	</br>
		<input type="submit" class="btn btn-primary" name="ingresar" value="Ingresar">
	</div>

</div></div>

{{/partial}}
				
{{> layout.hbs }}

