{{# partial "titulo" }}	
	<title>POIs - INICIO SESION</title>
{{/partial}}
		
{{# partial "contenido" }}	


	<div class="alert alert-success">
  		<strong>Sesion Valida</strong> 
  			Los datos ingresados son correctos
	</div>
	
	<div class="alert alert-info">
  		Ya puede acceder a las opciones del menu
	</div>



{{/partial}}
				
{{> layout.hbs }}
