<html>
  <head>
    {{# block "titulo" }}
    {{/block}}
  </head>
  <body>

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <link rel="stylesheet"  href="main.css">
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="main.java.poi.CGP.java"></script>

  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand"href="/" onclick="return false">POI</a>
      </div>
      <div>
        <ul class="nav navbar-nav">
          <li><a href="/calcularDistancia">Calcular Distancia</a></li>
          <li><a href="/calcularDistanciaAPOI">Calcular Distancia a POI</a></li>
          <li><a href="/verificarDisponibilidadDePOI"> Verificar Disponibilidad De un POI</a></li>      
          <li><a href="/paginaBusqueda"> Búsqueda </a></li>			<!-- Modificar por el link correcto cuando este le pantalla -->
          <li><a href="/configurarAcciones"> Configurar acciones</a></li>
          <li><a href="/historialBusquedas"> Historial de Búsquedas </a></li>
        </ul>
      </div>
    </div>
  </nav>
	
  <div class="container">
  {{# block "contenido" }}
  	<div class="alert alert-success">
  		<strong>Sesion Valida</strong> 
  			Los datos ingresados son correctos
	</div>
	
	<div class="alert alert-info">
  		Ya puede acceder a las opciones del menu
	</div>
  
  {{/block}}
  </div>
  
  <footer class="footer">
    <p class="text-center">
      &copy; Grupo7 DDS 2016
    </p>
  </footer>
  </body>
</html>
