{{# partial "titulo" }}	
	<title>Menu Administrador</title>
{{/partial}}

{{# partial "contenido" }}

<style>
.buttonsdds {
    background-color: #4C469E;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 100%;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.button1 {
    background-color: white;
    color: black;
    border: 2px solid #4C469E;
}
.button1:hover {
    background-color: #4C469E;
    color: white;
}
.exclusiva {
    background-color: white;
    color: black;
    padding: 15px 32px;
    text-align: center;
    display: block;
    width: 100%;
    font-size: 20px;
}
</style>
        
        <form action="/calcularDistancia" method="get">
        	<input type="submit" class="buttonsdds button1" value="Calcular Distancia">
        </form>
        
        <form action="/calcularDistanciaAPOI" method="get">
        	<input type="submit" class="buttonsdds button1" value="Calcular Distancia a POI">
        </form>
        
        <form action="/verificarDisponibilidadDePOI" method="get">
        	<input type="submit" class="buttonsdds button1" value="Verificar Disponibilidad De un POI">
        </form>
        
        <div class="exclusiva"> Acciones Exclusivas Administrador </div>
        
        <form action="/generar" method="get">
        	<input type="submit" class="buttonsdds button1" value="Modificar POI">
        </form>
        
        <form action="/configurarAcciones" method="get">
        	<input type="submit" class="buttonsdds button1" value="Configurar acciones">
        </form>
        
        <form action="/historialBusquedas" method="get">
        	<input type="submit" class="buttonsdds button1"  value="Historial de Búsquedas">
        </form>

        <form action="/reportarFecha" method="get">
        	<input type="submit" class="buttonsdds button1" value="Totalizar por Fecha">
        </form>

        <form action="/reportarUsuario" method="get">
        	<input type="submit" class="buttonsdds button1" value="Totalizar por Usuario">
        </form>
         
        
        
{{/partial}}
				
{{> layoutSesion.hbs }}