{{# partial "titulo" }}	
	<title>Menu Administrador</title>
{{/partial}}

{{# partial "contenido" }}


<style>
.buttonsdds {
    background-color: #639E46;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 100%;
    font-size: 16px;
    transition-duration: 0.2s;
    cursor: pointer;
}
.button1 {
    background-color: white;
    color: black;
    border: 2px solid #639E46;
}
.button1:hover {
    background-color: #639E46;
    color: white;
}
.exclusiva {
    background-color: white;
    color: black;
    padding: 15px 32px;
    text-align: center;
    display: block;
    width: 100%;
    font-size: 20px;
}
</style>

<script>					
function genera_botones() {
  var parameters = location.search.substring(1).split("&");
  var body = document.getElementsByTagName("body")[0];
  
  var temp = parameters[0].split("=");
  var cantidadFilas = unescape(temp[1]);
  
  var numeroParametro = 1;
 
  for (var i = 0; i < cantidadFilas; i++) {
	    
		var temp = parameters[numeroParametro].split("=");
		var parametro = unescape(temp[1]);
		var button = document.createElement("button");
		button.setAttribute("type", "submit");
		button.setAttribute("class", "buttonsdds button1");
		button.style.marginLeft="10%";
 		button.style.maxWidth="80%";
  		button.style.alignContent="center";
		numeroParametro++;
		var textoCelda = document.createTextNode(parametro);
		button.appendChild(textoCelda);
		body.appendChild(button);
		var br = document.createElement("br");
		body.appendChild(br);
  }
  
}
</script>
        
        <form action="/calcularDistancia" method="get">
        	<input type="submit" class="buttonsdds button1" value="Calcular Distancia">
        </form>
        
        <form action="/calcularDistanciaAPOI" method="get">
        	<input type="submit" class="buttonsdds button1" value="Calcular Distancia a POI">
        </form>
        
        <form action="/verificarDisponibilidadDePOI" method="get">
        	<input type="submit" class="buttonsdds button1" value="Verificar Disponibilidad De un POI">
        </form>
        
        <div class="exclusiva"> Acciones Exclusivas del Usuario </div>
        
         <script> genera_botones() </script>
         
{{/partial}}
				
{{> layoutSesion.hbs }}