{{# partial "titulo" }}	
	<title>POIs - POI</title>
{{/partial}}
		
{{# partial "contenido" }}	


	<div class="panel panel-info">
		  <div class="panel-heading">
		    <h3 class="panel-title">Origen</h3>
		  </div>
		  <div class="panel-body">
		    Nombre: <div id="nombre"></div>
			Direccion: <div id="direccion"></div>
			Ubicacion: <div id="ubicacion"></div>
		  </div>
	</div>
	
	<div id="distancia"></div>
	
	<%response.write("Hello World!")%>
		
	<div class="panel panel-info">
		  <div class="panel-heading">
		    <h3 class="panel-title">Destino</h3>
		  </div>
		  <div class="panel-body">
		    Nombre: <div id="nombre2"></div>
			Direccion: <div id="direccion2"></div>
			Ubicacion: <div id="ubicacion2"></div>
		  </div>
	</div>



<script language="JavaScript">
  function processUser()
  {
    var parameters = location.search.substring(1).split("&");
    var temp = parameters[0].split("=");
    distancia = unescape(temp[1]);
    
    document.getElementById("distancia").innerHTML = distancia;
  }
  processUser();
</script>



{{/partial}}
				
{{> layout.hbs }}