{{# partial "titulo" }}	
	<title>Historial Busquedas Realizadas</title>
{{/partial}}

		
{{# partial "contenido" }}


<script>
function genera_tabla() {
  var parameters = location.search.substring(1).split("&");
  
  var temp = parameters[0].split("=");
  var cantidadFilas = unescape(temp[1]);
    
  var body = document.getElementsByTagName("body")[0];
  var tabla   = document.createElement("table");
  var tblHead = document.createElement("thead");
  var tblBody = document.createElement("tbody");
  
  var numeroParametro = 1;
 
  for (var i = 0; i <= cantidadFilas; i++) {
    var hilera = document.createElement("tr");
    
    for (var j = 0; j < 4; j++) {
	
		if(i==0){
			if(j==0) var parametro = "Fecha";			//Setteo titulos columnas
			if(j==1) var parametro = "Usuario";
			if(j==2) var parametro = "Parametros";
			if(j==3) var parametro = "POIs";
			var celda = document.createElement("th");
		}else{
			var temp = parameters[numeroParametro].split("=");
			var parametro = unescape(temp[1]);
			var celda = document.createElement("td");
			numeroParametro++;
		}

		var textoCelda = document.createTextNode(parametro);
		celda.appendChild(textoCelda);
		hilera.appendChild(celda);
	}
	if(i==0){  tblHead.appendChild(hilera) }
    else{ tblBody.appendChild(hilera); }
  }
  
  tabla.appendChild(tblHead);
  tabla.appendChild(tblBody);
  body.appendChild(tabla);
  tabla.setAttribute("class", "table");
}
</script>






<form action="/buscarEnHistorial" method="post">

<h1>Historial de Busquedas Realizadas</h1>

<h3>Criterio de búsqueda</h3>

<div class="col-xs-3">
<Strong> Usuario:  </Strong>
	<input type="text"  class="form-control" name="usuario">
</div>

<div class="col-xs-3">
<Strong> Fecha (dd/mm/aaaa) :  </Strong>
	<input type="text"  class="form-control" name="fecha1">
</div>
<div class="col-xs-3">
	<br/>
	<input type="text"  class="form-control" name="fecha2">
</div>
<div class="col-xs-3">
	<br/>
	<input type="submit" class="btn btn-primary" value="Buscar">
</div>

<br/><br/><br/>
<h3>Resultado</h3>

<div class="m-x-auto" style="width: 200px;">
	<script> genera_tabla(); </script>
</div>


{{/partial}}
				
{{> layout.hbs }}

