{{# partial "titulo" }}	
	<title>POIs - Seleccionar POI</title>
{{/partial}}
		
{{# partial "contenido" }}	

<style>
.loQuieroALoAnchoPapu {
    text-align: center;
    display: block;
    width: 100%;
    font-size: 15px;
}
</style>

<script>					
function genera_lista() {
  var parameters = location.search.substring(1).split("&");
  
  var temp = parameters[0].split("=");
  var cantidadFilas = unescape(temp[1]);
  
  var select = document.getElementById("poiAModificar");
  
  var numeroParametro = 1;
 
  for (var i = 0; i < cantidadFilas; i++) {
	    
		var temp = parameters[numeroParametro].split("=");
		var parametro = unescape(temp[1]);
		var option = document.createElement("option");
		numeroParametro++;
		var textoCelda = document.createTextNode(parametro);
		option.appendChild(textoCelda);
		select.appendChild(option);
		
  }
  
  //select.style.marginLeft="5%";
  //select.style.maxWidth="90%"
  //select.style.alignContent="center"
}
</script>





<h3> Selecciona el POI que desea modificar </h3>

<div class="loQuieroALoAnchoPapu">

<br/><br/>

<div onclick="boton_cambio()" class="loQuieroALoAnchoPapu">
<select class="form-control loQuieroALoAnchoPapu" id="poiAModificar"></select>
<script> genera_lista() </script>

<br/>
<form action="/tomarDatoPoi" method="get" class="loQuieroALoAnchoPapu">
	<input type="hidden" id="nombreAMandar" name="nombreAMandar">
	<input type="submit" class="btn btn-primary loQuieroALoAnchoPapu" value="Seleccionar">
</form>	
<form action="/eliminarPOI" method="get"> 
	<input type="hidden" class="form-control" id="nombreEliminar" name="nombreEliminar">
	<input type="submit" class="btn btn-danger loQuieroALoAnchoPapu" value="Eliminar POI"> 
</form>

</div> 
<form action="/agregarPOI" method="get" class="loQuieroALoAnchoPapu">
	<input type="submit" class="btn btn-success loQuieroALoAnchoPapu " value="Nuevo">
</form>



<script>
function boton_cambio(){
	var poi = document.getElementById("poiAModificar").value;
	document.getElementById("nombreAMandar").value = poi;
	document.getElementById("nombreEliminar").value = poi;
}
</script>

{{/partial}}
				
{{> layoutSesion.hbs }}